html { 
    background: url("img/Home\ page\ real.Jpeg") no-repeat center fixed;
    background-size: cover;
}

head {
    text-align: center;
}

h1 {
    text-align: center;
    color: darkorchid;
    margin-top: 410px;
    font-size: xx-large;
    font-weight: bolder;
}

p {
    text-align: center;
    color: goldenrod;
    font-size: larger;
}

h3 {
    text-align: center;
    color: gold;
    margin: 50px; 
    padding-left: 200px;
    padding-right: 200px;
}

.quote {
    color: ghostwhite;
}

a {
    color: ghostwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    padding: 0px 30px;
}



