html { 
    background: url("img/Home\ page\ real.Jpeg") no-repeat center fixed;
    background-size: cover;
}

head {
    text-align: center;
}

h1 {
    text-align: center;
    color: #61acf5;
    margin-top: 50px;
    font-size: xx-large;
    font-weight: bolder;
}

p {
    text-align: center;
    color: goldenrod;
    font-size: larger;
}

h3 {
    text-align: center;
    color: black;
    margin: 50px; 
    padding-left: 200px;
    padding-right: 200px;
}

.quote {
    color: black;
}

a {
    color: ghostwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    padding: 0px 30px;
    margin-bottom: 1000px;
}



.Text {
    margin-top: 250px;
    background-color: ghostwhite;
    height: 300px;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid darkblue;
    border-width: 5px;

}